<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DiscUtils.Core" version="0.14.0-alpha234" targetFramework="net45" />
  <package id="DiscUtils.Iso9660" version="0.14.0-alpha234" targetFramework="net45" />
  <package id="DiscUtils.Streams" version="0.14.0-alpha234" targetFramework="net45" />
  <package id="OpenTK" version="3.3.3" targetFramework="net48" />
  <package id="OpenTK.GLControl" version="3.3.3" targetFramework="net48" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net45" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net45" />
</packages>